nav {

    width: 100%;

}
nav ul {
    list-style: none;
    background-color: black;
    color: white;
    padding: 10px;


}
nav ul li {
    display: inline-block;
    font-family: "Arial";
}

nav ul li a {
    padding: 30px;
    text-decoration: none;

}


.smallimg{
    width: 70px;
    height: 90px;
    display: inline;
}

footer {
    background: black;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000000;
    width: 100%;
}
