<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Winkelmand</title>

    <!-- Bootstrap-->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/main.css}">

    <!--CSS Datatable -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#productstable').DataTable();
        });
    </script>

</head>
<body>
<nav th:replace="~{index::navigation}"></nav>
<div id="product" class="container">
    <table id="productstable">

        <thead>
        <tr>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th>Dier</th>
            <th>Categorie</th>
            <th>Prijs</th>
        </tr>
        </thead>
        <tbody>


        <!--@thymesVar id="producten" type=""-->
        <tr th:each="product:${producten}" th:class="(${productStat.odd})?'odd':'even'">
            <td th:text="${product.naam}"></td>
            <td th:text="${product.beschrijving}"></td>
            <td th:text="${product.dier}"></td>
            <td th:text="${product.categorie}"></td>
            <td th:text="${product.prijs}"></td>
        </tr>
        </tbody>
    </table>

    <!--<div>
        <a class="btn btn-primary" th:href="@{~/bestel}">bestel</a>
    </div>-->
</div>

<!-- Betalingsformulier-->
<h2>Betalingsformulier</h2>
<div class="row">
    <div class="col-75">
        <div class="container-winkelmand">
            <form action="/action_page.php">

                <div class="row">
                    <div class="col-50">
                        <h3>Adres</h3>
                        <label for="fname"><i class="fa fa-user"></i> Voornaam</label>
                        <input type="text" id="fname" name="voornaam" placeholder="Carine Fula">
                        <label for="email"><i class="fa fa-envelope"></i> Email</label>
                        <input type="text" id="email" name="email" placeholder="carine@example.com">
                        <label for="adr"><i class="fa fa-address-card-o"></i> Adres</label>
                        <input type="text" id="adr" name="adres" placeholder="Nijverheidskaai 20">
                        <label for="stad"><i class="fa fa-institution"></i> Stad</label>
                        <input type="text" id="stad" name="stad" placeholder="Brussel">

                        <div class="row">
                            <div class="col-50">
                                <label for="gemeente">Gemeente</label>
                                <input type="text" id="gemeente" name="gemeente" placeholder="AN">
                            </div>
                            <div class="col-50">
                                <label for="postcode">Postcode</label>
                                <input type="postcode" id="postcode" name="postcode" placeholder="2018">
                            </div>
                        </div>
                    </div>

                    <div class="col-50">
                        <h3>Betaling</h3>
                        <label for="fname">Kredietkaarten</label>
                        <div class="icon-container">
                            <i class="fa fa-cc-visa" style="color:navy;"></i>
                            <i class="fa fa-cc-amex" style="color:blue;"></i>
                            <i class="fa fa-cc-mastercard" style="color:red;"></i>
                            <i class="fa fa-cc-discover" style="color:orange;"></i>
                        </div>
                        <label for="knaam">Naam op kaart</label>
                        <input type="text" id="knaam" name="kaartnaam" placeholder="Carine Fula">
                        <label for="knum">Kredietkaart nummer</label>
                        <input type="text" id="knum" name="kaartnummer" placeholder="1111-2222-3333-4444">
                        <label for="vervalmaand">Verval datum</label>
                        <input type="text" id="vervalmaand" name="vervalmaand" placeholder="September">
                        <div class="row">
                            <div class="col-50">
                                <label for="vervaljaar">Verval Jaar</label>
                                <input type="text" id="vervaljaar" name="vervaljaar" placeholder="2018">
                            </div>
                            <div class="col-50">
                                <label for="cvv">CVV</label>
                                <input type="text" id="cvv" name="cvv" placeholder="352">
                            </div>
                        </div>
                    </div>

                </div>
                <label>
                    <input type="checkbox" checked="checked" name="sameadr"> Verzend adres zelfde als betaling
                </label>
                <input type="submit" value="Bestel" class="btn">
            </form>
        </div>
    </div>
    <div class="col-25">
        <div class="container-winkelmand">
            <h4>Winkelmand</h4> <span class="prijs" style="color:black"></span></h4>
            <p><a href="#">Product </a> <span class="price">0.00</span></p>
            <hr>
            <p>Total <span class="price" style="color:black"><b>0.00</b></span></p>
        </div>
    </div>
</div>


</body>
</html>